@using CvProject.Models.Entity
@model List<Skill>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    string color = "";
}

@{ 
    string badgeColor = "";
}


<!DOCTYPE html>
<html lang="en">

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Yetenekler</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <a href="/Skills/AddSkill/" class="btn btn-outline-primary">Yetenek Ekle</a>
                                <br />
                                <br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Yetenek</th>
                                            <th>Düzey</th>
                                            <th width="40px"></th>
                                            <th></th>


                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            if (item.SkillRatio >= 0 && item.SkillRatio <= 50)
                                            {
                                                color = "progress-bar bg-danger";
                                                badgeColor = "badge bg-danger";
                                            }
                                            if (item.SkillRatio>=51 && item.SkillRatio<=70)
                                            {
                                                color = "progress-bar bg-warning";
                                                badgeColor = "badge bg-warning";
                                            }
                                            if (item.SkillRatio>=71 && item.SkillRatio<=84)
                                            {
                                                color = "progress-bar bg-primary";
                                                badgeColor = "badge bg-primary";
                                            }
                                            if (item.SkillRatio >= 85 && item.SkillRatio <= 100)
                                            {
                                                color = "progress-bar bg-success";
                                                badgeColor = "badge bg-success";
                                            }
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.SkillName</td>
                                                <td>
                                                    <div class="progress progress-xs">
                                                        <div class="@color" style="width: @item.SkillRatio%"></div>

                                                    </div>
                                                    
                                                </td>

                                                <td>
                                                    <span style="height: 20px; font-size:13px" class="@badgeColor">@item.SkillRatio%</span>
                                                </td>

                                                <td>
                                                    <a href="/Skills/DeleteSkill/@item.Id" class="btn btn-outline-danger">Sil</a>
                                                    <a href="/Skills/UpdateSkill/@item.Id" class="btn btn-outline-success">Güncelle</a>
                                                    
                                                 </td>

                                            </tr>

                                        }


                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->

                        </div>
                        <!-- /.card -->
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <!-- /.col -->
                </div>

            </div><!-- /.container-fluid -->
        </section>

</body>
</html>


