@model CvProject.Models.Entity.Social
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<form method="post" class="form-group">

    @Html.Label("#")
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
    <br />

    @Html.Label("Platform")
    @Html.TextBoxFor(x => x.PlatformName, new { @class = "form-control" })
    <br />

    @Html.Label("Bağlantı Adresi")
    @Html.TextBoxFor(x => x.Link, new { @class = "form-control" })
    <br />

    @Html.Label("Ikon")
    @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })
    <br />


    <button class="btn btn-info">Güncelle</button>
</form>

