@using CvProject.Models.Entity
@model List<Certificate>

<div class="resume-section-content">
    <h2 class="mb-5">Sertifikalar & Ödüller</h2>

    <ul class="fa-ul mb-0">

        @foreach (var item in Model)
        {
            <!--<li>-->
            @*<span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>*@
            @*@item.Description | @item.InstructorAndPlatform | @item.Date*@


            

            <li> <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span></li>
            @item.Description

            <ul>

                <li>@item.Platform - @item.Instructor</li>               
                <li>@item.Date</li>

            </ul>


            <br />
            
        }


        @*<div class="fas fa-trophy text-warning">   </div>*@



    </ul>
</div>
